<div class="container">
    <form
    class="form-horizontal"
    autocomplete="off"
    #editOrder2Form="ngForm"
    (ngSubmit)="editOrder2Form.valid && save()"
    >

        <div class="modal-body">
            <h2 >{{ "::Edit Order" | abpLocalization }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field 
                    appearance="fill"
                    [class.mat-form-field-invalid]="editOrder2Form.submitted && nameModel.hasError('required')"
                    class="w-100">
                        <mat-label for="orderName">
                            {{ "::Order Name" | abpLocalization }}
                        </mat-label>
                        <input 
                        matInput 
                        type="text"
                        name="orderName" 
                        id="orderName" 
                        required 
                        maxlength="32"
                        [(ngModel)]="order.name" 
                        #nameModel="ngModel" 
                        >
                        <mat-error *ngIf="editOrder2Form.submitted && nameModel.hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field 
                    appearance="fill" 
                    [class.mat-form-field-invalid]="editOrder2Form.submitted && orderNoModel.hasError('required')"
                    class="w-100">
                        <mat-label for="orderNo">
                            {{ "::Order.No" | abpLocalization }}
                        </mat-label>
                        <input 
                        matInput 
                        type="text"
                        name="orderNo" 
                        id="orderNo" 
                        required 
                        maxlength="32"
                        [(ngModel)]="order.orderNo" 
                        #orderNoModel="ngModel" 
                        #orderNoEl >
                        <mat-error *ngIf="editOrder2Form.submitted && orderNoModel.hasError('required')">
                            Order.No is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>




            <div class="row">
                <div class="col-md-6">
                    <mat-form-field 
                    appearance="fill"
                    [class.mat-form-field-invalid]="editOrder2Form.submitted && empolyeeNameModel.hasError('required')"
                    class="w-100">
                        <mat-label for="empolyeeName">
                            {{ "::Employee Name" | abpLocalization }}
                        </mat-label>

                        <mat-select 
                        [(ngModel)]="order.empolyeeName"
                        name="empolyeeName"
                        id="empolyeeName"
                        #empolyeeNameModel="ngModel"
                        required
                        >
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let user of users" [value]="user">
                            {{user}}
                        </mat-option>
                        </mat-select>
                        <mat-error *ngIf="editOrder2Form.submitted && empolyeeNameModel.hasError('required')">Please choose an Employee Name</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field 
                    appearance="fill"
                    class="w-100">
                        <mat-label for="totalPriceOrder">
                            {{ "::Total Price" | abpLocalization }}
                        </mat-label>
                        <input 
                        matInput 
                        type="number" 
                        name="totalPrice" 
                        id="totalPriceOrder" 
                        disabled
                        maxlength="32" 
                        [(ngModel)]="order.totalPrice" 
                        #totalPriceModel="ngModel"
                        #totalPriceEl 
                        >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <mat-form-field  
                    appearance="fill"
                    [class.mat-form-field-invalid]= "editOrder2Form.submitted && empolyeeNameModel.hasError('required')"
                    class="w-100"
                    >
                        <mat-label for="orderDate">
                            {{ "::Order Date" | abpLocalization }}
                        </mat-label>
                        <input 
                        matInput 
                        type="date"
                        name="orderDate" 
                        id="orderDate" 
                        required 
                        [(ngModel)]="order.orderDate"
                        #orderDateModel="ngModel"
                        >

                        <mat-error *ngIf="editOrder2Form.submitted && orderDateModel.hasError('required')">
                            Order Date is required
                        </mat-error>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-checkbox
                    name="isSubmit"
                    id="isSubmit"
                    [(ngModel)]="order.isSubmit"
                    color="primary"
                    >
                        {{ "::IsSubmit" | abpLocalization }}
                    </mat-checkbox>
                </div>
            </div>

            <table class="table table-hover text-nowrap my-4">
                <thead class="bg-light">
                    <th> {{ "::File Name" | abpLocalization }}</th>    
                    <th style="width: 100px;">
                    </th>
                </thead>
                <tbody>
                    <tr *ngIf="!orderFiles.length">
                        <td class="text-center font-italic" colspan="3">
                            {{ "::No files for this order" | abpLocalization }}
                        </td>
                    </tr>
                    <tr *ngFor = "let file of orderFiles; let i=index">
                        <td>{{file.fileName}}</td>
                        <td>
                            <a mat-raised-button color="primary" type="button"  (click)="downloadFile($event.target,file.fileName)">
                                {{ "::Download File" | abpLocalization }}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        

            <table class="table table-hover text-nowrap mt-4">
                <thead class="bg-light">
                    <th> {{ "::Name" | abpLocalization }}</th>
                    <th> {{ "::Price" | abpLocalization }}</th>
                    <th> {{ "::Quantity" | abpLocalization }}</th>
                    <th> {{ "::Total Price" | abpLocalization }}</th>
                    
                    <th style="width: 200px;">
                        <a mat-raised-button color="primary"  href="javascript:;" (click)="createItem()">
                            <i class="fa fa-plus-square"></i>
                            {{ "::Add item" | abpLocalization }}
                        </a>
                    </th>
                </thead>
                <tbody>
                    <tr *ngIf="!items.length">
                        <td class="text-center font-italic" colspan="7">
                            {{ "::No item selected for this order" | abpLocalization }}
                        </td>
                    </tr>
                    <tr *ngFor = "let item of items; let i=index">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.totalPrice}}</td>
                        <td>
                            <button type="button" class="btn btn-sm bg-secondary" (click)="editItem(item.id)">
                                <i class="fas fa-pencil-alt"></i>
                                {{ "::Edit" | abpLocalization }}
                            </button>
                            <button type="button" class="btn btn-sm bg-danger mx-2" (click)="delete(item.id)">
                                <i class="fas fa-trash"></i>
                                {{ "::Delete" | abpLocalization }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <button mat-raised-button color="primary" class="ml-auto" type="submit"> {{ "::Save" | abpLocalization }}</button>
            </div>
        </div>

    </form>
</div>

<!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
      <h3>{{ (item.id ? '::Edit Item' : '::New Item' ) | abpLocalization }}</h3>
    </ng-template>
  
    <ng-template #abpBody>
        <form class="form-horizontal" autocomplete="off" [formGroup]="Itemform"
        (ngSubmit)="saveItem()">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">

                        <label for="name">
                            {{ "::Item Name" | abpLocalization }}
                        </label>
                        <input 
                        [class.is-invalid]="isValidFormSubmitted != null && !isValidFormSubmitted && Itemform.get('name').hasError('required')"
                        class="form-control"
                        type="text"
                        formControlName="name"
                        name="name" 
                        id="name" 
                        required 
                        maxlength="32"
                        >

                        <div *ngIf=" isValidFormSubmitted != null && !isValidFormSubmitted && Itemform.get('name').hasError('required')"
                        class="error invalid-feedback d-block ng-star-inserted">
                            Item Name is required
                        </div>
                    </div>

                      
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Price">
                            {{ "::Price" | abpLocalization }}
                        </label>
                        <input 
                        [class.is-invalid]="isValidFormSubmitted != null && !isValidFormSubmitted && Itemform.get('price').hasError('required')"
                        class="form-control"
                        type="number"
                        formControlName="price"
                        name="Price" 
                        id="Price" 
                        required 
                        maxlength="32"
                        #orderNoEl >
                        <div *ngIf=" isValidFormSubmitted != null && !isValidFormSubmitted && Itemform.get('price').hasError('required')"
                        class="error invalid-feedback d-block ng-star-inserted">
                            Price is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="quantity">
                            {{ "::Quantity" | abpLocalization }}
                        </label>

                        <input
                        [class.is-invalid]="isValidFormSubmitted != null && !isValidFormSubmitted && Itemform.get('quantity').hasError('required')"
                        type="number"
                        class="form-control"
                        formControlName="quantity"
                        (keyup)="UpdateTotal()"
                        name="quantity"
                        id="quantity"
                        required
                        >
                        <div *ngIf=" isValidFormSubmitted != null && !isValidFormSubmitted && Itemform.get('quantity').hasError('required')"
                        class="error invalid-feedback d-block ng-star-inserted">
                            Quantity is required
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="totalPrice">
                            {{ "::Total Price" | abpLocalization }}
                        </label>
                        <input 
                        [class.is-invalid]="isValidFormSubmitted != null && !isValidFormSubmitted && Itemform.get('totalPrice').hasError('required')"
                        class="form-control"
                        type="number" 
                        formControlName="totalPrice"
                        name="totalPrice" 
                        id="totalPrice" 
                        #totalPriceEl 
                        
                        >
                        <div *ngIf=" isValidFormSubmitted != null && !isValidFormSubmitted && Itemform.get('totalPrice').hasError('required')"
                        class="error invalid-feedback d-block ng-star-inserted">
                        Total Price is required
                        </div>
                    </div>
                </div>
            </div>
    </form>
    </ng-template>
  
    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" #abpClose>
            {{ '::Close' | abpLocalization }}
        </button>
        <button class="btn btn-primary" (click)="saveItem()">
            <i class="fa fa-check mr-1"></i>
        {{ '::Save' | abpLocalization }}
    </button>
    </ng-template>
  </abp-modal>